inainte de folosirea resurselor AWS, trebui sa avem instalat pe local AWS CLI si apoi configurat utilizatorul.
1. Pentru verificarea daca avem AWS CLI instalat:
    in command prompt, executa comanda aws --version daca apare mesajul cu versiunea avem instalat aws cli
2. Pentru configurare lanseaza din command prompt comanda aws configure<br>
    va cere urmatoarele informatii:<br>
        Access key ID: AKIA5AOCZ2CTSEUB74MM<br>
        Secret access key: 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<br>
        Regiunea: 'us-east-1'<br>
        Format... sari peste<br>
3. Pentru verificarea daca am configurat corect utilizatorul lanseaza comanda aws s3 ls care ar trebui sa returneze insclaimsdata
4. Acum putem sa importam si sa lucram cu boto3 client

#### 1. Import csv file from AWS S3 bucket

In [10]:
import boto3 
import botocore 
import numpy as np
import pandas as pd 

import os

#from sagemaker import get_execution_role
#role = get_execution_role() 

mybucket = 'insclaimsdata' 
dnload_folder = 'wrkData' 
file_name = 'plati_eq_wFinale.feather'
data_location = f's3://{mybucket}/{dnload_folder}/{file_name}'

df = pd.read_feather(data_location)

In [11]:
df.head()

   dosarID   ron_eq        eur_eq plata_finala
0    53151  84604.0  19148.108732          yes
1    53156   7759.0   1721.238703          yes
2    53160  21765.0   4869.127745          yes
3    53171  25667.0   5754.416509          yes
4    53177   5663.0   1273.041987          yes

#### 2. Convert date columns from object to datetime

In [ ]:
df["data"] = pd.to_datetime(df["data"], format='%Y-%m-%d', errors='coerce')
df.info()

#### 3. Reduce file size by reducing formats

In [ ]:
for col in df.columns:
    if df.dtypes[col] == np.int64:
        df[col] = pd.to_numeric(df[col], downcast = 'signed')
    elif df.dtypes[col] == np.float64:
        df[col] = pd.to_numeric(df[col], downcast = 'float')
    elif df.dtypes[col] == 'object':
        df[col] = df[col].astype("category")
df.info()

#### 4. Reduce size by converting to parquet instead of csv

In [ ]:
df.to_parquet('rezerve.parquet')

### 5. Read df from parquet files

In [ ]:
df_pqt = pd.read_parquet('rezerve.parquet')
df_pqt.info()

#### 6. Save to S3 bucket in wrkData folder, if needed

In [ ]:
boto3.Session().resource('s3').Bucket(mybucket).Object(os.path.join('wrkData', 'rezerve.parquet')).upload_file('rezerve.parquet')