In [13]:
import pandas as pd
from settings import Config
from mysql_db import Database
import pdcast as pdc

# NOTEBOOK DESCRIPTION: 
1. Transfers tables from MySQL to Python; 
2. Downcasts variable types wherever possible;
3. Performns a series of checks on the data to ensure that no records have been lost.

In [2]:
# transfer tables from MySQL to Python and save as feather
db = Database(Config)

table_names = ['att1_type', 'att2_age', 'att3_judet', 'att4_localitate', 'att5_sex', 'att6_category_type',
                'att7_make', 'att8_capacity', 'att9_power', 'att10_seats', 'att11_year', 'att12_weight',
                'att13_bonus_malus', 'att14_no_rates', 'daune', 'event_no', 'polite_exposures']

## a. Attributes

In [3]:
df = db.run_view(f'SELECT * FROM {table_names[0]}')
df.head()

   idPolita tip
0   2230446  PF
1   2230447  PF
2   2230448  PF
3   2230449  PF
4   2230450  PF

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27782469 entries, 0 to 27782468
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   idPolita  int64
 1   tip       object
dtypes: int64(1), object(1)
memory usage: 423.9+ MB

In [17]:
df_downcast = pdc.downcast(df)
df_downcast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27782469 entries, 0 to 27782468
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   idPolita  uint32
 1   tip       category
dtypes: category(1), uint32(1)
memory usage: 132.5 MB

In [18]:
df_downcast.to_feather(f'Tables/{table_names[0]}.feather')

In [ ]:
# automate the rest of the attribute tables since they are similar to each other
for table in range(1, len(table_names)-4):
    df = db.run_view(f'SELECT * FROM {table_names[table]}')
    df_downcast = pdc.downcast(df)
    df_downcast.to_feather(f'Tables/{table_names[0]}.feather')
    print()

In [21]:
range(1, len(table_names)-4)

range(1, 13)